.body {
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
  outline: none;
}

input {
  
  background: inherit;
  display: block;
  color: #fcbac2;
  border-bottom: 2px solid #c67075;
}

input::placeholder {
  color: #fcbac2;

}

.btns {
  padding: 10px;
  color: #facdd0;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bolder;
  border: 2px solid #fad3d5;
  letter-spacing: 1px;
}