.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input:focus {
  outline: none;
}

input {
  background: inherit;
  display: block;
  color: #fcbac2;
  border-bottom: 10px solid #c67075;
}

input::placeholder {
  color: #fcbac2;
}

.main-cont {
  background-image: linear-gradient(
      to bottom,
      rgba(68, 33, 55, 0.205),
      #af4c5343
    ),
    url("./../images/background.png");
  background-size: 100% 100%;
  background-position: center;
}

.btns {
  padding: 10px;
  color: #facdd0;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bolder;
  border: 2px solid #fad3d5;
  letter-spacing: 1px;
}

.btnss {
  padding: 5px;
  color: #761c22;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
  border: 2px solid #761c22;
  letter-spacing: 1px;
  font-size: 12px;
  transition: 0.5s all ease-in-out;
  font-weight: bolder;
}

.logo {
  color: #761c22;
}

.btnss:hover {
  background: #761c22;
  color: #fff;
}

.litem {
  cursor: move;
}

.error {
  color: rgb(153 27 27 / 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: rgb(254 242 242 / 1);
  background: #1f2937;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: rgb(248 113 113 / 1);
  background-color: rgb(31 41 55 / 1);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
